<div class="row comment" data-id="<%= comment.id %>">

  <div class="col-md-12">

    <div class="row">

      <div class="col-md-1">
        <%= gravatar_for comment.user, {size: 30} %>
      </div>

      <div class="col-md-7">
        <div class="row">

          <div class="col-md-12">
            <%= comment.user.full_name %>
          </div>

        </div>

        <div class="row">

          <div class="col-md-12">
            <%= comment.body %>
          </div>

        </div>
      </div>

      <div class="col-md-1">
        <%= button_to '+', upvote_comment_path(comment), remote: true, class: 'upvote-button btn btn-success form-control' %>
      </div>

      <div class="col-md-2">
        <h4>Votes <span class="vote-count"><%= comment.votes.count %></span></h4>
      </div>

      <div class="col-md-1">
        <%= button_to '-', downvote_comment_path(comment), remote: true, class: 'downvote-button btn btn-danger form-control' %>
      </div>
    </div>

  </div>

</div>