<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row comment-form">
      <div class="col-md-10">
        <%= f.text_area :body, class: 'form-control' %>
        <%= f.hidden_field :post_id, value: post.id %>
      </div>

      <div class="col-md-2">
        <%= f.submit 'Add Comment', class: 'btn btn-success form-control' %>
      </div>
    </div>

<% end %>
