/**
 * Created by danielward on 6/23/15.
 */

$('div[data-id="<%= @entity.id %>"].comment span.vote-count').text('<%= escape_javascript(@entity.votes.count.to_s) %>');

//$('#comments').empty();
//$('#comments').append('<%= escape_javascript(render partial: 'comments/comment', collection: @entity.post.comments_sorted_by_votes) %>')
