<h1 class="text-center">Login</h1>

<%= form_tag session_create_path do |f| %>
    <div class="form-group col-xs-4 col-xs-offset-4">
        <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
        <%= password_field_tag :password, nil, class: 'form-control',  placeholder: 'Password' %>
    </div>

    <div class="form-group col-xs-4 col-xs-offset-4">
        <%= submit_tag 'Submit', class: 'form-control' %>
    </div>
<% end %>
