<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.text_field :first_name, class: 'form-control', placeholder:  'First Name' %>
  </div>
  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.text_field :last_name, class: 'form-control', placeholder:  'Last Name' %>
  </div>
  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.text_field :email, class: 'form-control', placeholder:  'Email' %>
  </div>
  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.password_field :password, class: 'form-control', placeholder:  'Passsword' %>
  </div>

  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder:  'Confirmation' %>
  </div>

  <div class="form-group col-xs-4 col-xs-offset-4">
    <%= f.submit 'Create' , class: 'form-control btn' %>
  </div>
<% end %>
