<p id="notice"><%= notice %></p>

<div class="container">

  <% if current_user && @user.id == current_user.id %>
      <div class="row">
        <div class="col-md-12">
          <h3 style="color:darkred">It's You!!!!</h3>
        </div>
      </div>
  <% end %>

  <div class="row">

    <!-- Main Column 1-->

    <div class="col-md-3">

      <div class="row">

        <div class="col-md-12">
          <h3><%= @user.abbreviated_name %></h3>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12 gravatar-container">
          <%= gravatar_for(@user, size: '300') %>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 text-center">
          <h4>Followers</h4>
          <h5 class="followers-count"><%= @user.followers.count %></h5>
        </div>

        <div class="col-md-6 text-center">
          <h4>Following</h4>
          <h5><%= @user.following.count %></h5>
        </div>

      </div>

      <% if current_user && @user.id != current_user.id %>
          <% is_following = current_user.following.include?(@user)  %>
              <div class="row unfollow-button" style="display: <%= is_following ? 'block' : 'none'  %>">
                <div class="col-md-12">
                  <%= button_to 'Unfollow', unfollow_users_path(user_id: @user.id), remote: true, class: 'btn btn-danger form-control' %>
                </div>
              </div>

              <div class="row follow-button" style="display: <%= !is_following ? 'block' : 'none' %>">
                <div class="col-md-12">
                  <%= button_to 'Follow', follow_users_path(user_id: @user.id),  remote: true, class: 'btn btn-success form-control' %>
                </div>
              </div>
      <% end %>

    </div>

    <!-- Main Column 2-->

    <div class="col-md-9">

      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Posts</h3>
          </div>
        </div>

        <div class="row" id="post_container">
          <% if @user.posts.count > 0 %>
              <div class="col-md-12">
                <%= render partial: 'posts/post', collection: @user.posts %>
              </div>
          <% else %>
              <div class="col-md-12 text-center">
                <h3 style="color: grey">Nothing yet</h3>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
