<% @post ||= Post.new %>
<%= form_for(@post) do |f| %>

  <div class="row">
    <div class="col-md-12">
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <br>

    <div class="col-md-12">
      <%= f.submit 'Create', class: 'btn btn-success form-control'  %>
    </div>
  </div>
<% end %>
