<div data-id="<%= post.id %>" class="row post">

  <div class="col-md-12">
  <div class="row">
    <div class="col-md-1">
      <%= gravatar_for post.user, {size: 60} %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h3><%= post.user.full_name %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h5 class="time"><%= post.created_at.strftime('%b %e, %Y @ %l:%M') %></h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
     <div class="col-md-11 col-md-offset-1">
       <p class="content"><%= post.body %></p>
     </div>
  </div>

  <div class="row vote-cell" data-id="<%= post.id %>">

    <div class="col-md-1 col-md-offset-1">
      <%= button_to '+', upvote_post_path(post), remote: true, class: 'upvote-button btn btn-success form-control' %>
    </div>

    <div class="col-md-2">
      <h4>Votes <span class="vote-count"><%= post.votes.count %></span></h4>
    </div>

    <div class="col-md-1">
      <%= button_to '-', downvote_post_path(post), remote: true, class: 'downvote-button btn btn-danger form-control' %>
    </div>

    <div class="col-md-4 col-offset-md-2">
      <%= link_to "Comments #{post.comments.count}", post %>
    </div>
  </div>
  </div>
</div>
