<div id="post_container">
  <h1 class="text-center">Feed</h1>

  <% if current_user %>
      <%= link_to 'New Post', '#', class: 'new-post-link btn btn-success pull-right', data: {toggle: 'popover', placement: 'left', html: true, content: render(partial: 'posts/form').gsub(/"/, '\'').html_safe } %>
  <% end %>

  <br>

  <% if current_user %>
    <%= render partial: 'post', collection: current_user.feed %>

  <% else %>
    <h2>Log in or sign up to see more</h2>

  <% end  %>

</div>