<div id="post_container">
    <%= render partial: 'posts/post', object: @post %>
</div>

<div id="comments">
  <%= render partial: 'comments/comment', collection: @post.comments_sorted_by_votes %>
</div>

<% if current_user %>
    <%= render partial: 'comments/form', locals: {post: @post, comment: @comment} %>
<% end %>