// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.comment {
  margin-top: 20px;
  background: #d7f7c7;
  border-radius: 5px;
  border: solid #bababa 1px;
  padding: 10px;
}

div.comment-form {
  margin-top: 20px;
  background: #dcdcf7;
  border-radius: 5px;
  border: solid #bababa 1px;
  padding: 10px;
}