// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#post_container {
  a.new-post-link {
    color: white;
  }

  .row.post {
    margin-top: 20px;
    background: #f7f7f7;
    border-radius: 5px;
    border: solid #bababa 1px;

    img {
      margin-top: 20px;
    }

    .time {
      margin-top: -2px;
    }

    p.content {
      font-size: 1.2em;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
