<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">AWESOME SITE</a>
    </div>

    <% if current_user %>
        <%= link_to '<span id="sign_out_button" class="glyphicon glyphicon-log-out"></span>'.html_safe , session_logout_path, method: :delete, class: 'navbar-text navbar-right sign-button-wrapper' %>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= current_user.full_name %></a> <%= gravatar_for current_user, { size: 30 } %></p>
    <% else %>
        <%= link_to 'Login', session_login_path, class: 'navbar-text navbar-right login-button' %>
        <%= link_to 'Signup', new_user_path, class: 'navbar-text navbar-right' %>
    <% end %>

  </div>
</nav>